.about {
  font-size: 2.5em;
  padding-bottom: 25%;
  padding-top: 5%;
}

br {
  padding: 25%;
}

.contact {
  padding-bottom: 50%;
  padding-top: 20%;
  text-align: center;
}

.contact hr {
  margin: 0 auto;
  width: 400px;
}

.footer {
  background-color: rgba(0, 0, 0, 0) !important;
  text-align: center;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav, .hero .is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  line-height: 1.5;
  padding: 3rem 0;
}

.has-dropdown .navbar-item {
  color: white !important;
}

.has-dropdown:hover .navbar-link {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

hr {
	/* width: 400px; */
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.interests {
  padding-bottom: 25%;
  padding-top: 5%;
}

.interests .fa, .contact .fa {
	color: #FFFFFF;
	font-size: 60px;
}

.is-active {
  padding: 50%;
}

.list li {
  font-size: .5em;
  padding-left: 0.5em;
}

.name {
  font-size: 5.0em;
  font-weight: bold;
}

.navbar {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-burger {
  background-color: white !important;
}

.navbar-link {
  color: white !important;
}

.padding-bottom {
    padding-bottom: 25%;
}

.padded-content {
  padding-left: 5%;
  padding-right: 5%;
}

.padding-top {
  padding-top: 25%;
}

.roles, .skills {
  font-size: .75em;
}

.shadow {
	color: white;

	/* offset-x | offset-y | blur-radius | color */
	text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4),
				 0 8px 13px rgba(0, 0, 0, 0.1),
				 0 18px 23px rgba(0, 0, 0, 0.1);
}

.strong {
	color: white;
	padding-top: 50%;
}

.tile .subtitle {
    padding: .5rem 0;
}

.title {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
}

.tile .title-medium {
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.title-small {
  color: white;
  font-size: .75em;
  font-weight: bold;
}
