.about {
  font-size: 2.5em;
  padding-bottom: 25%;
}

br {
  padding: 25%;
}

html,body {
  font-family: 'Roboto', sans-serif;
}

.hero.is-info {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url('https://unsplash.it/1200/900?random') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  line-height: 1.5;
  padding: 3rem 0;
}

.has-dropdown .navbar-item {
  color: white !important;
}

.has-dropdown:hover > .navbar-link {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

hr {
	width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.interests .fa, .contact .fa {
	color: #FFFFFF;
	font-size: 60px;
}

.name {
  font-size: 5.0em;
  font-weight: bold;
}

.navbar {
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar-burger {
  background-color: white !important;
}

.navbar-brand {
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-link {
  color: white !important;
}

.navbar-link:hover, .navbar-link .is-active {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.padding-bottom {
    padding-bottom: 25%;
}

.padding-top {
  padding-top: 25%;
}

.shadow {
	color: white;

	/* offset-x | offset-y | blur-radius | color */
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
				 0px 8px 13px rgba(0, 0, 0, 0.1),
				 0px 18px 23px rgba(0, 0, 0, 0.1);
}

.strong {
	color: white;
	padding-top: 50%;
}

.tile-left {
  padding-left: 15%;
}

.tile-right {
  padding-right: 15%;
}

.title {
  font-size: 2.5em;

}
