:root {
	--base1: #eae2d6; /* Linen */
	--base2: #d5c3aa; /* Oyster */
	--base3: #867666; /* Pewter */
	--base4: #e1b80d; /* Lemon Tea */
	--base5: #766656; /* Dark Pewter */
	--base6: #564636; /* Darkest Pewter */
	--black: black;

	--bg: var(--base1);
	--bg-alt: var(--base2);
	--bg-nav: var(--base3);
	--text: var(--black);
	--text-hover: var(--base3);
	--text-alt: var(--base1);
	--text-hover-alt: var(--base2);
	--pill-text: var(--base1);
	--pill-primary-text: var(--base6);
	--pill-primary-bg: var(--base4);
	--pill-bg: var(--base6);
	--pill-hover: var(--base5);
	--accent1: var(--base3);
	--accent2: var(--base4);
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: "Nunito", sans-serif;
}

/* Navigation */

@media screen and (max-width: 991px) {
	#mainNavbar {
		background: var(--bg-nav);
	}
}

.navbar.navbar-dark,
.navbar.navbar-dark .navbar-brand {
	font-size: 1.35rem;
	transition: background 0.25s;
}

.navbar.navbar-dark .navbar-brand {
	color: var(--text);
}

.navbar.navbar-dark .navbar-brand:hover {
	transition: 0.25s;
	color: var(--text-hover);
}

.navbar.navbar-dark .nav-link.text-color {
	color: var(--text);
}

.navbar.navbar-dark .nav-link.text-color:hover {
	color: var(--text-hover);
}

.dropdown-item:focus,
.dropdown-item:hover {
	text-decoration: none;
	background-color: var(--bg-alt);
}

a.badge-primary,
a.badge-primary {
	color: var(--pill-primary-text);
	background-color: var(--pill-primary-bg);
}

a.badge-primary:focus,
a.badge-primary:hover {
	color: #fff;
	background-color: var(--pill-hover);
}

a.badge-secondary,
a.badge-secondary {
	color: var(--text-alt);
	background-color: var(--pill-bg);
}

a.badge-secondary:focus,
a.badge-secondary:hover {
	color: #fff;
	background-color: var(--pill-hover);
}

a.badge {
	font-weight: 400;
}

a.badge:focus,
a.badge:hover {
	text-decoration: none;
}

/* Navigation On Scroll */

.navbar.scrolled {
	background-color: var(--bg-nav);
}

.navbar.scrolled.navbar-dark .nav-link.text-color {
	color: var(--text-alt);
}

.navbar.scrolled.navbar-dark .navbar-brand {
	color: var(--text-alt);
}

.navbar.scrolled.navbar-dark .navbar-brand:hover {
	color: var(--text-hover-alt);
}

.navbar-dark .navbar-nav .nav-link.text-color,
.text-color {
	color: var(--text);
}

.navbar-dark .navbar-nav .nav-link.text-color:hover,
.text-color:hover {
	color: var(--text-hover);
}

.navbar.scrolled.navbar-dark .navbar-nav .nav-link.text-color:hover,
.text-color:hover {
	color: var(--text-hover-alt);
}

/* /Navbar On Scroll */

.text-upper {
	text-transform: uppercase;
}

.text-accent {
	color: var(--accent1);
}

.text-accent2 {
	color: var(--accent2);
}

.navbar,
.navbar .navbar-brand {
	font-size: 1.5rem;
	font-weight: 100;
}

@media screen and (max-width: 1024px) {
	.navbar,
	.navbar .navbar-brand {
		font-size: 1.4rem;
	}
}

.navbar .navbar-brand {
	font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:hover {
	transition: 0.25s;
}

/* Images */
img.has-drop-shadow {
	-moz-box-shadow: 2px 2px 2px #999;
	-webkit-box-shadow: 2px 2px 2px #999;
	-ms-box-shadow: 2px 2px 2px #999;
}

/* Logo Group */

#logoGroup h1 {
	font-weight: 100;
}

/* Blurbs */

.content.alternate-bg {
	background-color: var(--bg-alt);
}

.blurb h2,
.blurb p {
	/* color: white; */
	font-weight: 100;
}

.blurb h2 {
	/* color: white; */
	font-weight: 100;
	text-transform: uppercase;
}

.blurb h3 {
	/* color: white; */
	font-weight: 100;
}

.blurb .fas {
	color: var(--accent1);
}

.blurb p {
	font-size: 1.125rem;
	line-height: 2.0;
}

/* Tech Dropdowns */

#accordion .card .card-header {
	background-color: var(--bg-nav);
}

button.btn.btn-link {
	color: var(--text-alt);
	text-decoration: none;
}

button.btn.btn-link:hover {
	color: var(--text-alt);
	text-decoration: none;
}

button.btn.btn-link.collapsed {
	color: var(--text-alt);
	text-decoration: none;
}

button.btn.btn-link.collapsed:hover {
	color: var(--text-alt);
	text-decoration: none;
}

/* Resume iFrame */

.iframe-container {
	overflow: hidden;
	/* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
	padding-top: 56.25%;
	position: relative;
}

@media screen and (max-width: 768px) {
	.iframe-container {
		padding-top: 100%;
	}
}

.iframe-container iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
