// Import the initial variables
@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";

// Set the initial variables
$transparent: rgba(0, 0, 0, 0.5);
$cyan: $transparent;
$blue-invert: #fff;

$family-serif: 'Roboto', sans-serif;

// Set the derived variables
$primary: $cyan;
$primary-invert: $blue-invert;

// Use the new serif family
$family-primary: $family-serif;

// Dropdown
$navbar-dropdown-background-color: $transparent;
$navbar-dropdown-offset: 0px;

$navbar-background-color: $red;

// Import the rest of Bulma
@import "../bulma";
